.box {
  height: 200px;
  border: 2px solid black;
  margin: 10px 5px 0 5px;
  text-align: center;
}

form {
  padding: 0 40px 0 40px;
}

form input {
  width: 100%;
  margin: 0 0px 10px 0px;
}

form button {
  width: 100%;
  margin: 0 0px 10px 0px;
}