<div id="header">
  <script src='https://unpkg.com/perfect-dark-mode@0.0.19/dist/index.js'></script>
  <hr />
  <div v-if="!loaded">Loading...</div>
  <template v-else>
    <div class="pure-g">
      <div class="pure-u-3-5">
        <span><b>Total Locked</b>: {{ overview.totalSupplyAccLiteral.toFixed(0) }}$</span>
        <span>|</span>
        <span><b>Total Borrows</b>: {{ overview.totalBorrowsAccLiteral.toFixed(0) }}$</span>
        <span>|</span>
        <span><b>Total Reserves</b>: {{ overview.totalReservesAccLiteral.toFixed(0) }}$</span>
        <span>|</span>
        <span><b>RDS</b> circulating: {{ overview.rds.circulating }}</span>
        <span>,</span>
        <span>mined: {{ overview.rds.mined }}</span>
        <span>|</span>
        <span><b>DOL</b> supply: {{ overview.dol.totalSupply }}</span>
      </div>
      <div class="pure-u-2-5 align-right">
        <span v-if="!walletInstalled"><a href="https://metamask.io/">Install Metamask</a></span>
        <span v-else-if="!!loginAccount">Address: <a v-bind:href="accountUrl">{{ ellipsisAccount }}</a></span>
        <span v-else><button v-on:click="login" class="pure-button button-xsmall">{{ walletButtonText }}</button></span>
        <button v-on:click="toogleTheme" class="pure-button button-xsmall">{{ theme }}</button>
      </div>
    </div>
  </template>
  <hr />
</div>
