<div id="overview">
    <div v-if="!loaded">Loading...</div>
    <template v-else>
        <h3>Markets</h3>
        <table class="pure-table pure-table-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Symbol</th>
                    <th>Underlying</th>
                    <th>Supply Rate</th>
                    <th>Borrow Rate</th>
                    <th>Total Cash</th>
                    <th>Total Borrows</th>
                    <th>Total Reserves</th>
                    <!-- <th>Exchange Rate</th>
                    <th>Reserve Factor</th>
                    <th>Collateral Factor</th>
                    <th>Liquidation Factor</th> -->
                    <template v-if="balances !== null">
                        <th>Balance</th>
                        <th>Collateral</th>
                        <th>Debt</th>
                    </template>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(item, index) in markets" :key="item.symbol" v-on:click="selectMarket(index)" class="pointer">
                    <td></td>
                    <td>{{ item.symbol }}</td>
                    <td>{{ item.underlyingSymbol }}</td>
                    <td>{{ item.supplyRatePerYear }}</td>
                    <td>{{ item.borrowRatePerYear }}</td>
                    <td>{{ item.totalCashLiteral }}</td>
                    <td>{{ item.totalBorrowsLiteral }}</td>
                    <td>{{ item.totalReservesLiteral }}</td>
                    <!-- <td>{{ item.exchangeRateLiteral }}</td>
                    <td>{{ item.reserveFactorLiteral }}</td>
                    <td>{{ item.collateralFactorLiteral }}</td>
                    <td>{{ item.liquidationIncentiveLiteral }}</td> -->
                    <template v-if="balances !== null">
                        <td>{{ balances[item.symbol].tokenBalanceLiteral }}</td>
                        <td>{{ balances[item.symbol].collateralBalanceLiteral }}</td>
                        <td>{{ balances[item.symbol].borrowBalanceLiteral }}</td>
                    </template>
                </tr>
            </tbody>
        </table>
        <div class="pure-g">
            <div class="pure-u-1-4">
                <form class="pure-form box">
                    <fieldset>
                        <legend>Supply {{ selectedSymbol }}</legend>
                        <input placeholder="Amount" /><br />
                        <button v-show="needApprove" class="pure-button">Approve</button>
                        <button class="pure-button">Supply</button>
                    </fieldset>
                </form>
            </div>
            <div class="pure-u-1-4">
                <form class="pure-form box">
                    <fieldset>
                        <legend>Borrow {{ selectedSymbol }}</legend>
                        <input placeholder="Amount" /><br />
                        <button class="pure-button">Borrow</button>
                    </fieldset>
                </form>
            </div>
            <div class="pure-u-1-4">
                <form class="pure-form box">
                    <fieldset>
                        <legend>Redeem {{ selectedSymbol }}</legend>
                        <input placeholder="Amount" />
                        <button class="pure-button">Redeem</button>
                    </fieldset>
                </form>
            </div>
            <div class="pure-u-1-4">
                <form class="pure-form box">
                    <fieldset>
                        <legend>Repay {{ selectedSymbol }}</legend>
                        <input placeholder="Amount" />
                        <button v-show="needApprove" class="pure-button">Approve</button>
                        <button class="pure-button">Repay</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </template>
    <hr />
</div>
