extends ../layouts/default.pug

block scripts
  script(src='https://cdn.jsdelivr.net/npm/web3@1.3.1/dist/web3.min.js')
  script(src='https://cdn.jsdelivr.net/npm/realdao@0.1.5/dist/realdao.min.js')
  //- script(src='/pages/realdao.min.js')
  script(src='https://cdn.jsdelivr.net/npm/vue@2.6.12')
  script(src='/pages/main.js' type='module')

block content
  include ../modules/header.html
  include ../modules/overview.html
  include ../modules/mining.html