extends ../layouts/default.pug

block scripts
  script(src='https://cdn.jsdelivr.net/npm/web3@1.3.1/dist/web3.min.js')
  script(src='https://cdn.jsdelivr.net/npm/realdao@0.1.9/dist/realdao.min.js')
  //- script(src='/pages/realdao.min.js')
  script(src='https://cdn.jsdelivr.net/npm/vue@2.6.12')
  script(src='https://unpkg.com/vue-router/dist/vue-router.js')

block content
  -
    var services = [
      '/services/realdao.js',
      '/services/wallet.js',
    ]
    var modules = [
      '/modules/topbar',
      '/modules/lending',
      '/modules/staking',
    ]
  script(type='module').
    import { main } from '/pages/main.js'
    window.onload = () => {
      const services = '#{services}'.split(',')
      const modules = '#{modules}'.split(',')
      main([services, modules])
      M.AutoInit()
    }
  div#app
    hr
    div.align-center
      router-link(to='/lending') Lending |
      router-link(to='/staking') Staking
    hr
    Topbar
    hr
    keep-alive
      router-view