extends ../layouts/default.pug

mixin pet(arr)
  each val in arr
    p = #{val.name}
  script(type="module").
    import {main} from '/pages/test.js'
    window.onload = () => {
      main( !{JSON.stringify(arr)})
    }

block scripts
  -
    var modules = [
      { name: 'm1', path: '/m1' },
      { name: 'm2', path: '/m2' },
    ]
  script(src='https://cdn.jsdelivr.net/npm/vue@2.6.12')
block content
  #app
    button(v-for="tab in tabs" v-bind:key="tab" v-on:click="currentTab = tab") {{ tab }}
    br
    component(v-bind:is="currentTab")
    +pet(modules)