<div id="account" v-show="address !== null">
  <h3>Account Balances</h3>
  <p>RDS:<span>{{ rds.balanceLiteral || '0' }}</span></p>
  <table class="pure-table pure-table-bordered">
    <thead>
      <tr>
        <th>#</th>
        <th>Token</th>
        <th>Balance</th>
        <th>Collateral</th>
        <th>Debt</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="(item, index) in sheets" :key="index">
        <td></td>
        <td>{{ item.underlyingSymbol }}</td>
        <td>{{ item.tokenBalanceLiteral }}</td>
        <td>{{ item.collateralBalanceLiteral }}</td>
        <td>{{ item.borrowBalanceLiteral }}</td>
      </tr>
    </tbody>
  </table>
  <div class="pure-g">
    <div class="pure-u-1-4"></div>
    <div class="pure-u-1-4 box">
      <form class="pure-form">
        <fieldset>
          <legend>Redeem</legend>
          <input placeholder="Amount" />
          <button class="pure-button">Redeem</button>
        </fieldset>
      </form>
    </div>
    <div class="pure-u-1-4 box">
      <form class="pure-form">
        <fieldset>
          <legend>Repay</legend>
          <input placeholder="Amount" />
          <button class="pure-button">Approve</button>
          <button class="pure-button">Repay</button>
        </fieldset>
      </form>
    </div>
    <div class="pure-u-1-4"></div>
  </div>
</div>