<div id="overview">
    <hr />
    <div class="pure-g">
        <div class="pure-u-3-5">
            <span>Total Locked: {{ overview.totalSupplyAccLiteral.toFixed(0) }}$</span>
            <span>|</span>
            <span>Total Borrows: {{ overview.totalBorrowsAccLiteral.toFixed(0) }}$</span>
            <span>|</span>
            <span>Total Reserves: {{ overview.totalReservesAccLiteral.toFixed(0) }}$</span>
            <span>|</span>
            <span>RDS circulating: {{ overview.rds.circulating }}</span>
            <span>,</span>
            <span>mined: {{ overview.rds.mined }}</span>
            <span>|</span>
            <span>DOL supply: {{ overview.dol.totalSupply }}</span>
        </div>
        <div class="pure-u-2-5">
            <span v-if="!walletInstalled"><a href="https://metamask.io/">Install Metamask</a></span>
            <span v-else-if="!!loginAccount">Address: <a v-bind:href="accountUrl">{{ ellipsisAccount }}</a></span>
            <span v-else><button v-on:click="login">{{ walletButtonText }}</button></span>
            <span v-on:click="()=>toggleMode((v) => (v === 'light' ? 'dark' : 'light'))">toggleMode</span>
        </div>
    </div>
    <hr />
    <h3>Markets</h3>
    <table class="pure-table pure-table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>Symbol</th>
                <th>Underlying</th>
                <th>Supply Rate</th>
                <th>Borrow Rate</th>
                <th>Total Cash</th>
                <th>Total Borrows</th>
                <th>Total Reserves</th>
                <!-- <th>Exchange Rate</th>
                <th>Reserve Factor</th>
                <th>Collateral Factor</th>
                <th>Liquidation Factor</th> -->
                <template v-if="balances !== null">
                    <th>Balance</th>
                    <th>Collateral</th>
                    <th>Debt</th>
                </template>
            </tr>
        </thead>
        <tbody>
            <tr v-for="item in overview.markets" :key="item.symbol">
                <td></td>
                <td>{{ item.symbol }}</td>
                <td>{{ item.underlyingSymbol }}</td>
                <td>{{ item.supplyRatePerYear }}</td>
                <td>{{ item.borrowRatePerYear }}</td>
                <td>{{ item.totalCashLiteral }}</td>
                <td>{{ item.totalBorrowsLiteral }}</td>
                <td>{{ item.totalReservesLiteral }}</td>
                <!-- <td>{{ item.exchangeRateLiteral }}</td>
                <td>{{ item.reserveFactorLiteral }}</td>
                <td>{{ item.collateralFactorLiteral }}</td>
                <td>{{ item.liquidationIncentiveLiteral }}</td> -->
                <template v-if="balances !== null">
                    <td>{{ balances[item.symbol].tokenBalanceLiteral }}</td>
                    <td>{{ balances[item.symbol].collateralBalanceLiteral }}</td>
                    <td>{{ balances[item.symbol].borrowBalanceLiteral }}</td>
                </template>
            </tr>
        </tbody>
    </table>
    <div class="pure-g">
        <div class="pure-u-1-4">
            <form class="pure-form box">
                <fieldset>
                    <legend>Supply ETH</legend>
                    <input placeholder="Amount" /><br />
                    <button class="pure-button">Approve</button><br />
                    <button class="pure-button">Supply</button>
                </fieldset>
            </form>
        </div>
        <div class="pure-u-1-4">
            <form class="pure-form box">
                <fieldset>
                    <legend>Borrow ETH</legend>
                    <input placeholder="Amount" /><br />
                    <button class="pure-button">Borrow</button>
                </fieldset>
            </form>
        </div>
        <div class="pure-u-1-4">
            <form class="pure-form box">
                <fieldset>
                    <legend>Redeem</legend>
                    <input placeholder="Amount" />
                    <button class="pure-button">Redeem</button>
                </fieldset>
            </form>
        </div>
        <div class="pure-u-1-4">
            <form class="pure-form box">
                <fieldset>
                    <legend>Repay</legend>
                    <input placeholder="Amount" />
                    <button class="pure-button">Approve</button>
                    <button class="pure-button">Repay</button>
                </fieldset>
            </form>
        </div>
    </div>
</div>
