doctype html
html
  head
    title RealDAO Fast
    link(rel="shortcut icon" type="image/x-icon" href="/assets/favicon.ico")
    link(rel='stylesheet' href='https://unpkg.com/purecss@2.0.3/build/pure-min.css')
    link(rel='stylesheet' href='/layouts/default.css')
    script(src='/livereload.js?snipver=1')
    block scripts
  body
    block content