.box {
  height: 200px;
  border: 2px solid black;
  margin: 10px 5px 0 5px;
  text-align: center;
}

form {
  padding: 0 40px 0 40px;
}

form input {
  width: 100%;
  margin: 0 0px 10px 0px;
}

form button {
  width: 100%;
  margin: 0 0px 10px 0px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color: white;
    --background: black;
  }
}

/* This supports users with JS disabled. */
@media (prefers-color-scheme: light) {
  :root {
    --color: black;
    --background: white;
  }
}

/* Styles for when light mode is enabled. */
.pdm-light {
  --color: black;
  --background: white;
}

/* Styles for when dark mode is enabled. */
.pdm-dark {
  --color: white;
  --background: black;
}

/* Default color and background. */
/* If you add a color or background on other components (e.g. body or some custom Button) */
/* that will override these. You will need to change those styles to use these CSS variables. */
:root {
  color: var(--color);
  background: var(--background);
}